body {
    margin: 0;
    padding: 0;
    background-image: url(./img/2_pict.png)
}

body>header {
    background-image: url(./header-background.png);
    background-repeat: no-repeat;
    height: 900px;
    background-size: 100%;
}

header>div {
    padding-top: 500px;
    padding-left: 224px;
    color: white;
}

header>div {
    font-family: 'Montserrat-Bold', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 3.2em;
    line-height: 1.5;
}

div>div:nth-child(1) {
    text-transform: uppercase;
    font-size: 1.2em;
}

div>div:nth-child(2) {
    font-size: 0.4em;
}

header div>div:nth-child(3) {
    text-transform: uppercase;
    font-size: 1em;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: rgba(0, 0, 0, .3);
    width: 831px;
    padding: 48px 0 41px 30px;
    box-sizing: border-box;
}

/*div:first-of-type,:last-of-type {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat-Bold', 'OpenSans-Light', 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 20px;
}*/

p:nth-of-type(2) {
    line-height: 1;
}

span {
    color: #f1ad1d;
}

.featured {
    background-image: url('./Layer.png');
    background-repeat: no-repeat;
    height: 475px;
    width: 100%;
    background-size: 100%;
    padding-top: 150px;
}

.partners {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hr{
    width: 60px;
    margin: 30px auto;
    border: 1px solid #f1ad1d;
}
.featured p:nth-child(1) {
    margin: 0 auto;
    width: 30%;
    font-size:22px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#listento {
    text-align: center;
    
}
#listento p {
    font-family: Lato-Regular, OpenSans-Light, MyriadPro-Regular, AdobeInvisFont;
    font-size: 17pt;
}
#listento h2 {
    text-transform: uppercase;
    font-size: 22pt;
}